@model TixplorerCoreFrontend.Models.Member

@{
    Layout = null; //不要套用header和footer
}

<head>
<style>
        body {
            margin: 0; /* 避免瀏覽器預設的邊界 */
            background: #f3f3f3; 
        }

        .main-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start; /* 將元素靠左對齊 */
            padding-left: 40%; /* 這會讓元素與視窗邊緣保持一定的距離 */
        }

        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
</style>
</head>
<body>
    <div class="main-content container d-flex justify-content-center align-items-center">
        <div>
            <h1>
                修改密碼
            </h1>
        </div>
        </div>
        <form action="https://localhost:7289/members/editPassword" method="post" class="container d-flex justify-content-center align-items-center">
        <div class=" align-items: flex-start;">
                帳號: @Model.Name
            </div>
            <div>
                請輸入欲修改的密碼:
                <div>
                    <input type="password" id="newPwd" name="newPwd" />
                </div>

                @*儲存MId用*@
                <input type="hidden" id="Mid" name="Mid" value="@Model.MId" /> 

            </div>
            <div>
                <input type="submit" id="change" value="送出並關閉" />
            </div>
        </form>
        
        @*信箱驗證
        <div class="row justify-content-center">
        <div class="tableArea border border-light-subtle shadow">
            <div class="title">驗證電子信箱</div>
            <div class="mt-1 mb-3 divline"></div>
            <table>
                <tbody>
                    <tr>
                        <th>
                            <label class="mx-3">電子信箱</label>
                            <br />
                            <div class="mx-3 subtext">Email</div>
                        </th>
                        <td>
                            <input class="mt-3 mx-3 inputtext"
                                   type="text"
                                   v-model="email"
                                   placeholder="請輸入電子信箱"
                                   autocomplete="off" />
                            <br />
                            <div class="tips mx-3 mb-2">該電子信箱將會註冊為帳號使用</div>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <div class="validCodeArea mx-3">
                                <i type="button"
                                   id="changeImage"
                                   class="changeImage bi bi-arrow-clockwise btn btn-info"
                                   style="float: right"></i>
                                <canvas id="auth-code"
                                        class="auth-code"
                                        style="float: right"></canvas>
                            </div>
                        </th>
                    </tr>
                </tbody>
            </table>
            <div class="sendValidEmailArea d-flex justify-content-center mb-1">
                <input type="button"
                onclick="sendValidEmail()"
                       class="btn btn-warning mt-3 mb-2"
                       value="送出驗證信件" />
            </div>
            <div class="d-flex justify-content-center mb-2">
                <span id="mailText"></span>
            </div>
            <table>
                <tbody>
                    <tr>
                        <th>
                            <label class="mx-3">信箱驗證碼</label>
                            <br>
                            <div class="mx-3 subtext">Valid Code</div>
                        </th>
                        <td>
                            <input class="m-3 inputtext"
                                   type="text"
                                   v-model="emailCode"
                                   placeholder="請輸入信箱驗證碼"
                                   autocomplete="off" />
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="sendValidEmailArea d-flex justify-content-center mb-1">
                <input type="button"
                onclick="nextStep()"
                       class="btn btn-info mt-3 mb-2"
                       value="下一步" />
            </div>
            <div class="d-flex justify-content-center mb-2">
                <span id="errorText" class="errorText">{{ errorText }}</span>
            </div>
        </div>
    </div>*@
</body>

    @*<script setup>
     let mailText = ""
        //點選「送出驗證信件」，呼叫 sendValidEmail 呼叫 API 發送驗證碼郵件
        const sendValidEmail = async () => {
            if (validEmailData() == "驗證OK") {
                //驗證是否有填入信箱
                //產生信箱驗證碼
                validMail.doGenerateValidMailCode();

                //快速取得驗證碼使用↓
                // console.log(validMail.validMailCode.txtvalue)

                const response = await fetch(
                    `${GlobalVar.localWebApiAddress}/api/Members/sendValidEmail?validCode=${validMail.validMailCode.txtvalue}&email=${email.value}`
                );
                const datas = await response.text();
                //console.log(validMail.validMailCode.txtvalue)
                //console.log(email.value)
                //console.log(validEmailData())
                //console.log(datas)



                switch (datas) {
                    case "SendSuccess":
                        document.getElementById("mailText").style.color = "blue";
                        mailText.value = "驗證信件已發送";
                        break;
                    case "isRegister":
                        document.getElementById("mailText").style.color = "red";
                        mailText.value = "該信箱已註冊，請更換信箱";
                        break;
                    default:
                        document.getElementById("mailText").style.color = "red";
                        mailText.value = "發送驗證信件失敗，請稍後再試";
                        break;
                }
            } else 
            {
                document.getElementById("mailText").style.color = "red";
                mailText.value = validEmailData();
            }
        };*@
    
<script>



    //$('#change').click(function(){
    //    window.open('https://localhost:7289/members/editPassword');
    //});

    URL = 'https://localhost:7289/members/editPassword';
    $('#change').click(function () {
        $.ajax({
            url: url,
            type: 'post',
            success: function () {
                window.opener.location.reload(); 
                window.close(); 
            }
        });
    });

</script>
