@model System.Collections.Generic.Dictionary<string, string>

<div class="container mt-5 mb-5 text-center">
    <img src="https://cdn.dribbble.com/users/614270/screenshots/14575431/media/4907a0869e9ed2ac4e2d1c2beaf9f012.gif" style="width: 300px" /><br />
    <h2 >訂單付款成功</h2>
</div>

<div class="container mt-2 mb-5 text-center d-flex justify-content-evenly col-4">
    <a role="button" class="btn btn-primary btn-lg" href="https://localhost:7289/">回到首頁</a>
    <a role="button" class="btn btn-secondary btn-lg" href="http://localhost:5173/order">會員中心</a>
</div>

   <!--step6 : 顯示回傳結果-->
   @foreach (var key in @Model.Keys.ToList())
    {
        @(key)
        <input type="text" name="@key" value="@Model[key]" />
        <br />
}